/* my css style sheet */
h4 {
    font-weight: bold;
}

/* Add an image to the jumbotron. */
.jumbotron {
    color: yellow;
    background-image: url("../images/cow_16x9_1.jpg");
    background-size: 100% 100%;
    text-align: center;
  }





